/*    Document CSS   */
/* 
    Created on : 03/01/2019, 20:20:25
    Author     : Fernando Britto
*/


body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.pagination {
  margin-bottom: 15px;
}




